*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --vermelho: rgb(231, 15, 15);
    --preta: rgb(14, 14, 14);
}

body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

.filme__principal{
    font-size: 16px;
    background: url('img/capa-house.jpg');
}